<extend name="Public/base"/>

<block name="body">
    <script type="text/javascript" src="__JS__/js.js"></script>
    <div class="main-title">
        <h2>订单状态 </h2>
    </div>

    <div class="cf">
        <a class="btn" href="{:U('addstatus')}">新 增</a>
        
        <!-- 高级搜索 -->
        <!-- <div class="search-form fr cf">
            <div class="sleft">
                <input type="text" name="name" class="search-input" value="{:I('name')}" placeholder="请输入幻灯片名称">
                <a class="sch-btn" href="javascript:;" id="search" url="__SELF__"><i class="btn-search"></i></a>
            </div>
        </div> -->
    </div>
    <div class="data-table table-striped">
        <div class="tab-content">
            <div id="home" class="tab-pane in active">
                <form action="{:U('Index/sortList',array('op'=>'order'))}" method="post">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr class="color428bca">
                                    <th width="50">排序</th>
                                    <th>名称</th>                                                                        
                                    <th class="center">状态</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                <notempty name="list">
                                    <volist name="list" id="data">
                                        <tr class="pointer even" title="">
                                            <td><input type="text" name="order_{$data['sort_id']}" value="{$data['sort']}" style="width:30px;padding:0 5px;margin:0"/></td>
                                            <td>{$data['id']}-{$data['name']}</td>
                                            <td class="center"><a href="{:U('Orders/editstatus',array('id'=>$data['id']))}">{$data['status']==1?'<font color="green">开启</font>':'<font color="red">关闭</font>'}</a></td>
                                            <td><a href="{:U('Orders/addstatus',array('id'=>$data['id']))}">编辑</a>
                                                            |
                                                <a onclick="return confirm('该分类下的商品将全部删除，确定删除')" href="{:U('Orders/delstatus',array('id'=>$data['id']))}" title="删除">删除</a>
                                            </td>
                                        </tr>
                                    </volist>
                                </tbody>
                            </table>
                                           
                            <else/>
                                <tr><td colspan="3" class="text-center"><span class="empty"><i>aOh! 暂时还没有内容! </i></span></td></tr>
                            </tbody>
                        </table>

                        </notempty>
                    </div>
                </form>
            </div>
        </div>
    </div>
</block>
<include file="common_admin:footer" />