@charset"utf-8";


.goods-list li:hover {
    /*border: 1px solid #ebebeb;*/
}
.goods-list li.hover .my-like {
    display: block;
}
.goods-list li.hover1 .my-like {
    display: block;
}
.goods-list li.hover .good-price .btn.buy span {
    color: #fff;
}
.goods-list li.hover .good-price .btn.buy a .b-icon {
    background-position: right -105px;
}
.goods-list li.hover .good-price .btn.buy {
    right: 10px;
    top: 3px;
}
.goods-list li.hover .good-price .btn.start {
    right: -3px;
    top: 3px;
}
.goods-list li.hover .good-price .btn.gone a {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #f8285c;
}
.goods-list li.hover .good-price .btn.buy .j-icon, .goods-list li.hover .good-price .btn.buy .b-icon, .goods-list li.hover .good-price .btn.buy .m-icon, .goods-list li.hover .good-price .btn.buy .t-icon {
    display: none;
}
.goods-list li.hover .quan-hd {
    display: block;
}
.goods-list li .good-price .des-other .icon-gai, .goods-list li .good-price .des-other .icon-fan, .goods-list li .good-price .btn a em, .goods-list li.hover .good-price .btn a, .goods-list li .good-price .btn.start a, .goods-list li .good-price .btn.start_1 a, .goods-list li .like-ceng .iphone-ico {
    background:url(../images/list-total.png) no-repeat;
}
.goods-list {
    margin: 20px auto 0;
    width:100%;
}

./*goods-list li {
    width:25%;
    background:#FFF;
    float:left;
    margin:10px 0;
    border:#fff solid 1px;
    padding-top: 5px;
    overflow-y: hidden;
}
.goods-list li .goods-pic {
    width:95%;
    margin:auto;
    position: relative;
 
}
.goods-list li .pic-img {
  
    overflow:hidden;
    text-align:center;
    width:100%;
    vertical-align:middle;
    display: inline-block;
    
}

.goods-list li .pic-img:hover {
    text-decoration:none;
    cursor:pointer;
}
.goods-list li .buy-over {
    cursor:pointer;
    position:relative;
    display:block;
    position:absolute;
    top:80px;
    left:80px;
    background:url(../images/buy-over.png) no-repeat;
    height:0;
    width:120px;
    padding-top:120px;
    overflow:hidden;
    z-index:15;
}
.goods-list li .buy-over.brand {
    background:#000;
    opacity: 0.7;
    height: 40px;
    width:275px;
    position: absolute;
    left: 0;
    padding: 0 0 0 10px;
    top:245px;
    line-height:40px;
    color: #fff;
}
.goods-list li .buy-over.brand a {
    position: relative;
    display: inline;
    bottom:0;
    color: #ffff66;
    left: 15px;
    text-decoration: underline;
}
.goods-list li .buy-over a {
    display:block;
    position:absolute;
    bottom:25px;
    left:30px;
    color:#ffff66;
}
.goods-list li .item {
    position: relative;
    width:100%;
    height:auto;
    z-index:1;
    
}
.goods-list li .item h5{width: 95%;padding: 2%;}
.goods-list li .good-title {
    width:100%;
    height:18px;
    line-height:18px;
    overflow: hidden;
    margin:10px 10px 10px 5px;
    position:relative;
    font-weight:normal;
    color:#333;
}
.goods-list li .good-title a {
    display: inline;
    color:#333;
    letter-spacing:1px;
}
.goods-list li .good-title a:hover {
    text-decoration:underline;
    color:#333;
}
.goods-list li .good-title span.sold {
    display:block;
    color:#bbb;
    position:absolute;
    top:0;
    right:0;
    background:#fff;
    width:60px;
    height:18px;
    text-align:right;
}*/
.brand {
    background:url(../images/brand.png) no-repeat 0 0
}
.brand-new {
    background:url(../img/float-icon.png) no-repeat 0 0;
    padding-top:2px;
    height:35px;
    width: 37px;
    color:#fff;
    text-align:center;
    line-height:14px;
    position:absolute;
    top:0;
    left:0;
    _background:none;
    _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='crop', src="http://s.juancdn.com/juanpi/images/float-icon.png");
}
.brand-new.brand {
    background:url(../img/brand-icon.png) no-repeat 0 0;
    _background:none;
    _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='crop', src="http://s.juancdn.com/juanpi/images/brand-icon.png");
}
/*this is good-price by mumian*/
 .goods-list li .goods-price {
    width:100%;
    height:48px;
    line-height:40px;
    position: relative;
    padding:0 10px 0px 5px;
    background:#fff;
    z-index:10;
}
.goods-list li .goods-price .price-current, .goods-list li .goods-price .des-other {
    display:block;
    float:left;
}
.goods-list li .goods-price .price-current {
    font-size:30px;
    font-family:Arial;
    color: #FF3366;
}
.goods-list li .goods-price .price-current em {
    font-size: 14px;
    font-family:"微软雅黑", "verdana";
    vertical-align:1px;
    margin-left:1px;
}
.goods-list li .list-good.buy .good-price .price-current {
    color:#ff3366;
}
.goods-list li .list-good.start .good-price .price-current {
    color:#008800;
}
.goods-list li .list-good.gone .good-price .price-current {
    color:#ccc;
}
/*this is des-other by mumian*/
 .goods-list li .good-price .des-other {
    margin:2px 0 0 5px;
    height:40px;  
}
.goods-list li .good-price .des-other strong {
    width:auto;
    height:16px;
    display:block;
}
.goods-list li .good-price .des-other .icon-gai, .goods-list li .good-price .des-other .icon-fan, .goods-list li .good-price .des-other .icon-temai {
    display:block;
    height:0;
    overflow:hidden;
    float:left;
}
.goods-list li .good-price .des-other .icon-gai {
    background-position:-151px 0;
    width:49px;
    padding-top:16px;
}
.goods-list li .good-price .des-other .icon-fan {
    background-position:-159px -17px;
    width:41px;
    padding-top:18px;
    margin-right:3px;
}
.goods-list li .good-price .des-other .price-old {
	display:block;
    color: #bbb;
    text-decoration: line-through;
    font-size:14px;
}
.goods-list li .good-price .des-other .price-old em {
    font-family:"微软雅黑", "verdana";
    font-size:12px;
}
.goods-list li .good-price .des-other .discount {
    color: #bbb;
    vertical-align:top;
}


.goods-list li .good-price .btn.start, .goods-list li .good-price .btn.start_1 {
    right:-3px;
    top:3px;
}
.goods-list li .good-price .btn.start a, .goods-list li .good-price .btn.start_1 a {
    width:83px;
    height:32px;
    padding-left:4px;
    background-position:0 -61px;
    color:#fff;
    line-height:34px;
    line-height:36px \9;
    _line-height:36px;
}
.goods-list li .good-price .btn.gone a {
    cursor:default;
}
.goods-list li .good-price .btn a:hover {
    text-decoration:none;
}
.goods-list li.hover .good-price .btn.buy a:hover {
    background-position:0 -31px;
}
/*this is my-like*/
 .my-like {
    display: none;
    width:26px;
    height:26px;
    border: 1px solid #f4f4f4;
    background: #f4f4f4;
    border-radius:15px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    z-index:15;
}
.my-like i, .my-like .like-big, .unliked span {
    background: url(../images/my-like.png) no-repeat;
    _background: url(../images/my-like.gif) no-repeat
}
.my-like i {
    background-position: -26px 0;
    width:14px;
    height:11px;
    position: absolute;
    top: 50%;
    left: 50%;
}
.my-like .like-ico {
    background-position: 0 0;
    margin-top: -5px;
    margin-left:-7px;
}
.my-like .del-ico {
    background-position: -26px 0;
    width: 14px;
    height: 15px;
    margin-top: -7px;
    margin-left:-7px;
}
.del-ico:hover {
    background-position: -26px -19px;
}
.my-like:hover .like-ico {
    background-position:0 -72px;
}
.my-like:hover .like-ico.l-active {
    background-position:0 -89px;
}
.my-like .l-active {
    background-position:0 -20px;
}
.my-like .like-big {
    margin-top: -40px;
    margin-left: -8px;
    width: 45px;
    height: 37px;
    background-position:-55px 0;
}
.demo1 {
    -webkit-animation-name:'like_poof';
    -webkit-animation-duration: .6s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: .1s;
    -webkit-animation-iteration-count: none;
    -webkit-animation-direction: alternate;
    -moz-animation: like_poof .6s linear;
    -ms-animation: like_poof .6s linear;
    animation: like_poof .6s linear;
    -moz-animation: like_poof .6s linear;
}
@-webkit-keyframes like_poof {
    0% {
        margin-top: -40px;
        opacity: 1;
        -webkit-transform: rotate(0deg)
    }
    25% {
        opacity: 1;
        -webkit-transform: rotate(-20deg)
    }
    75% {
        -webkit-transform: rotate(20deg)
    }
    100% {
        margin-top: -90px;
        opacity: 0;
        -webkit-transform: rotate(0deg)
    }
}
@-ms-keyframes like_poof {
    0% {
        margin-top: -40px;
        opacity: 1;
        -ms-transform: rotate(0deg)
    }
    25% {
        opacity: 1;
        -ms-transform: rotate(-20deg)
    }
    75% {
        -ms-transform: rotate(20deg)
    }
    100% {
        margin-top: -90px;
        opacity: 0;
        -ms-transform: rotate(0deg)
    }
}
@keyframes like_poof {
    0% {
        margin-top: -40px;
        opacity: 1;
        transform: rotate(0deg)
    }
    25% {
        opacity: 1;
        transform: rotate(-20deg)
    }
    75% {
        transform: rotate(20deg)
    }
    100% {
        margin-top: -90px;
        opacity: 0;
        transform: rotate(0deg)
    }
}
@-webkit-keyframes unlike_heartbreak_left {
    0% {
        opacity: 1;
        margin-top: -50px;
        -webkit-transform: rotate(0deg)
    }
    30% {
        opacity: 1;
        margin-top: -55px;
    }
    80% {
        opacity: 0;
        margin-top: -10px;
        -webkit-transform: rotate(-15deg)
    }
    100% {
        opacity: 0;
        margin-top: -10px;
        -webkit-transform: rotate(-15deg)
    }
}
@-webkit-keyframes unlike_heartbreak_right {
    0% {
        opacity: 1;
        margin-top: -50px;
        -webkit-transform: rotate(0deg)
    }
    30% {
        opacity: 1;
        margin-top: -55px;
    }
    80% {
        opacity: 0;
        margin-top: -10px;
        -webkit-transform: rotate(15deg)
    }
    100% {
        opacity: 0;
        margin-top: -10px;
        -webkit-transform: rotate(15deg)
    }
}
@-ms-keyframes unlike_heartbreak_left {
    0% {
        opacity: 1;
        margin-top: -50px;
        -ms-transform: rotate(0deg)
    }
    30% {
        opacity: 1;
        margin-top: -55px;
    }
    80% {
        opacity: 0;
        margin-top: -10px;
        -ms-transform: rotate(-15deg)
    }
    100% {
        opacity: 0;
        margin-top: -10px;
        -ms-transform: rotate(-15deg)
    }
}
@-ms-keyframes unlike_heartbreak_right {
    0% {
        opacity: 1;
        margin-top: -50px;
        -ms-transform: rotate(0deg)
    }
    30% {
        opacity: 1;
        margin-top: -55px;
    }
    80% {
        opacity: 0;
        margin-top: -10px;
        -ms-transform: rotate(15deg)
    }
    100% {
        opacity: 0;
        margin-top: -10px;
        -ms-transform: rotate(15deg)
    }
}
@keyframes unlike_heartbreak_left {
    0% {
        opacity: 1;
        margin-top: -50px;
        transform: rotate(0deg)
    }
    30% {
        opacity: 1;
        margin-top: -55px;
    }
    80% {
        opacity: 0;
        margin-top: -10px;
        transform: rotate(-15deg)
    }
    100% {
        opacity: 0;
        margin-top: -10px;
        transform: rotate(-15deg)
    }
}
@keyframes unlike_heartbreak_right {
    0% {
        opacity: 1;
        margin-top: -50px;
        transform: rotate(0deg)
    }
    30% {
        opacity: 1;
        margin-top: -55px;
    }
    80% {
        opacity: 0;
        margin-top: -10px;
        transform: rotate(15deg)
    }
    100% {
        opacity: 0;
        margin-top: -10px;
        transform: rotate(15deg)
    }
}
.unliked span {
    background-position:-45px -63px;
    display: block;
    height: 100%;
    left: 50%;
    position: absolute;
    top: 0;
    margin-top: -56px;
}
.unliked span.heart_left {
    background-position: -45px -63px;
    margin-left: -25px;
    width: 27px;
    height: 38px;
    opacity: 0;
    -webkit-transform-origin: 26px 54px;
    -ms-transform-origin: 26px 54px;
    -o-transform-origin: 26px 54px;
    transform-origin: 26px 54px;
    -webkit-animation: unlike_heartbreak_left .6s ease-out;
    -ms-animation: unlike_heartbreak_left .6s ease-out;
    -o-animation: unlike_heartbreak_left .6s ease-out;
    animation: unlike_heartbreak_left .6s ease-out
}
.unliked span.heart_right {
    background-position: -77px -63px;
    width: 27px;
    height: 38px;
    opacity: 0;
    -webkit-transform-origin: 0 54px;
    -ms-transform-origin: 0 54px;
    -o-transform-origin: 0 54px;
    transform-origin: 0 54px;
    -webkit-animation: unlike_heartbreak_right .6s ease-out;
    -ms-animation: unlike_heartbreak_right .6s ease-out;
    -o-animation: unlike_heartbreak_right .6s ease-out;
    animation: unlike_heartbreak_right .6s ease-out
}
/*this is like-ceng*/
 .goods-list li .like-ceng {
    height: 48px;
    background: rgba(0, 0, 0, .5);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7f000000, endColorstr=#7f000000);
    zoom:1;
    position: absolute;
    top:237px;
    width:265px;
    left:0;
    padding: 0 0 0 20px;
    display: none;
    z-index: 99;
}
:root #aaa {
    filter:none\9;
}
/*for IE9*/
 .goods-list li .like-ceng .iphone-ico {
    width: 20px;
    height: 29px;
    background-position:right -185px;
    display: block;
    float: left;
    margin: 9px 0;
}
.goods-list li .like-ceng .tips {
    float: left;
    color: #fff;
    padding: 5px 0 7px 20px;
}
.goods-list li .like-ceng p {
    line-height: 18px;
}
.goods-list li .like-ceng .tips em {
    background: #ff3838;
    padding: 2px 5px;
    border-radius: 2px;
}
.goods-list li:hover {
    /*border:#ebebeb solid 1px;*/
}
.goods-list li.hover .my-like {
    display:block;
}
.goods-list li.hover1 .my-like {
    display:block;
}
.goods-list li.hover .good-price .btn.buy span {
    color:#fff;
}
.goods-list li.hover .good-price .btn.buy a .b-icon {
    background-position:right -105px;
}
.goods-list li.hover .good-price .btn.buy {
    right:10px;
    top:3px;
}
.goods-list li.hover .good-price .btn.start {
    right: -3px;
    top: 3px;
}
.goods-list li.hover .good-price .btn.gone a {
    background:none;
    color:#f8285c;
}
.goods-list li.hover .good-price .btn.buy .j-icon, .goods-list li.hover .good-price .btn.buy .b-icon, .goods-list li.hover .good-price .btn.buy .m-icon, .goods-list li.hover .good-price .btn.buy .t-icon {
    display:none;
}
.goods-list li.hover .quan-hd {
    display:block;
}
.quan-hd, .box-hd {
    display:none;
}
.quan-hd .mask-bg {
    cursor:default;
}
.go-quan {
    display:block;
    position:absolute;
    top:110px;
    left:83px;
    width:120px;
    height:80px;
    cursor:pointer;
    text-decoration:none;
    background:url(../images/quan_tag_wait.png) no-repeat;
    z-index:12;
}
.go-quan-red {
    background:url(../images/quan_tag_buy.png) no-repeat;
}
.go-quan em.other {
    top:12px;
    font-size:20px;
}
.go-quan em {
    position:absolute;
    top:5px;
    left:15px;
    width:50px;
    height:30px;
    font-size:26px;
    color:#fff;
    font-family:"微软雅黑", "verdana";
    overflow:hidden;
}
.go-quan em i {
    font-size:12px;
    font-style:normal;
}
.mask-bg {
    cursor:pointer;
    display:block;
    position: absolute;
    top:0;
    left:0;
    width:285px;
    height:285px;
    background:#fff;
    opacity: .5;
    filter:alpha(opacity=50);
    z-index:10;
}
/*goods-list by mumian end*/

/*brand-list-h by mumian start*/
 .brand-list-h {
    width:1005px;
    height:auto;
    overflow:hidden;
}
.brand-list-h ul li {
    float:left;
    width:310px;
    height:auto;
    margin:0 25px 25px 0;
}
.brand-list-h ul li .pic a {
    display:block;
    width:310px;
    height:100px;
    overflow:hidden;
}
.brand-list-h ul li .detail {
    height:40px;
    background:#fff;
    line-height:40px;
    padding:0 10px;
}
.brand-list-h ul li .detail .title {
    width:250px;
    height:40px;
    overflow:hidden;
}
.brand-list-h ul li .detail .title a {
    font-size:14px;
    font-weight:bold;
    color:#333;
}
.brand-list-h ul li .detail a.go {
    background:url(../images/total/brand-total.gif) no-repeat 0 5px;
    width:28px;
    height:15px;
    margin-top:7px;
    padding:5px 0;
}
/*brand-list-h by mumian end*/

/*brand-list by mumian strart*/
 .main .brand-list {
    width:915px;
    height:248px;
    overflow:hidden;
    margin:0 auto;
    clear:both;
}
.main .brand-list li {
    float:left;
    width:285px;
    display:inline;
    height:auto;
    background:#fff;
    margin:0 20px 20px 0;
    padding-bottom:10px;
}
.main .brand-list li .list {
    width:285px;
    height:auto;
    position:relative;
}
.main .brand-list li .list .pic img {
    width:285px;
    height:150px;
}
.main .brand-list li .list .left-show {
    width:150px;
}
.main .brand-list li .list .discount {
    text-align:right;
    margin:15px 15px 0 0;
    color:#666;
    font-weight:normal;
}
.main .brand-list li .list .title {
    font-weight:normal;
    height:16px;
    line-height:16px;
    padding:0 0 10px 10px;
    margin:10px 0 0;
    border-bottom:#e2e2e2 dashed 1px;
}
.main .brand-list li .list .title a {
    color:#333;
    font-size:14px;
}
.main .brand-list li .list .right-show {
    width:80px;
    height:40px;
    margin:20px 10px 0 0;
}
.main .brand-list li .list .start-time {
    width:200px;
    padding:10px 0 0 10px;
    color:#ababab;
}
.main .brand-list li .list .start-time b {
    color:#a2d378;
    margin:0 2px;
}
.main .brand-list li .list .start-time .icon-clock {
    background:url(../images/clock.png) no-repeat;
    height:16px;
    width:16px;
    display:inline-block;
    float:left;
    margin-top:2px;
}
.hot-brand .brand-list {
    height:auto;
    overflow:auto;
}
.hot-brand .brand-list li .list .right-show {
    margin:6px 0 0 10px;
}
/*brand-list by mumian end*/
 .main .brand-box {
    width:100%;
}
.main .normal-title {
    height:40px;
    line-height:40px;
    background:#fff;
    margin:20px 0;
}
.main .normal-title .title {
    background: url(../images/brand/normal-title-bg.gif) no-repeat right #ff3366;
    font-size:20px;
    font-family:"微软雅黑", "宋体";
    color:#fff;
    display:inline-block;
    padding:0 20px;
    float:left;
}
.main .normal-title .title h3 {
    font-weight:normal;
}
.main .normal-title .txt {
    font-size:14px;
    color:#666;
    margin-right:10px;
}
/*advance-nav by mumian start*/
 .advance-nav {
    height:20px;
    width:980px;
    margin:20px auto 0;
    padding: 10px 0;
    background:#fff;
}
.advance-nav ul li {
    float:left;
    line-height:20px;
}
.advance-nav ul li a {
    color:#666;
    display:block;
    padding:0 35px;
}
.advance-nav ul li a:hover {
    text-decoration:underline;
}
.advance-nav ul li a.active {
    font-weight:bold;
    color:#f36;
    background:#fff;
}
.advance-nav ul li a.active:hover {
    text-decoration:none;
}
.advance-nav .tips {
    margin-right:30px;
    font-size:14px;
    font-family:"微软雅黑", "宋体";
}
.advance-nav .tips .time {
    background:#c7c7c7;
    display:inline-block;
    padding:0 5px;
    border-radius:3px;
    color:#fff;
}
.advance-nav .tips .icon-tips {
    background:url(../images/clock.gif) no-repeat;
    height:14px;
    width:14px;
    display:inline-block;
    vertical-align:middle;
    margin-right:3px;
}
/*by adong 20150228 start*/
 .advance-nav ul .r-border {
    border-right: 1px solid #e2e2e2
}
/*by adong 20150228 end*/

/*place-show by mumian start*/
 .place-show {
    width:auto;
    height:auto;
    overflow:hidden;
    margin:0 0 20px;
}
.place-show .place-explain {
    padding:0;
}
.place-show .place-explain a {
    margin: 0 5px;
}
.place-show .place-explain a:hover {
    color:#5e5e5e;
    text-decoration:underline;
}
.place-show .place-explain .current-a {
    width: 435px;
    overflow: hidden;
    white-space: nowrap;
}
.place-show .type-nav {
    color:#919191;
}
.place-show .type-nav a {
    padding:0 5px;
    color:#919191;
}
/*place-show by mumian end*/

/*zhe-list by mumian end*/
 .main .zhe-more {
    width:976px;
    text-align:center;
    font-size:16px;
    height:38px;
    border:#fff solid 2px;
    overflow:hidden;
    line-height:38px;
    margin:0 auto;
    *margin-top:25px;
    _margin-top:0;
}
.main .zhe-more a {
    color:#0289cd;
    display:block;
    text-decoration:underline;
    background:#f9f9f9;
}
.main .zhe-more a em {
    color:#ff3838;
}
.main .zhe-more a:hover {
    text-decoration:none;
    background:#fefefe;
}
/**/
 .hot_goods h3 {
    margin-bottom: 30px;
    position: relative;
}
.hot_goods h3 .line {
    border-bottom: 1px solid #fff;
    margin: 0 auto;
    border-top: 1px solid #2a142b;
    height: 0;
    overflow: hidden;
}
.hot_goods h3 .line-txt {
    position: absolute;
    top:-12px;
    left: 50%;
    margin-left: -65px;
    width: 130px;
    height:30px;
    line-height:30px;
    text-align: center;
    background: #f6f6f6;
    color: #2a142b;
    font-size: 18px;
    font-family:"微软雅黑";
}
@charset"utf-8";
 .page {
    padding: 0 0 45px;
    padding-top:30px;
    *margin-top:50px;
    _margin-top:50px;
    clear: both;
    overflow: hidden;
    text-align: center;
}
.page div {
    margin: 0 auto;
}
.page a, .page span, .page i {
    display:inline-block;
    /*float:left;*/
    background: none repeat scroll 0 0 #FFF;
    margin-left:1px;
    padding:10px 15px;
    overflow: hidden;
    color:#919191;
    font-size:14px;
    font-weight:bold;
    border-right:none;
    -moz-box-shadow: 1px 1px 0px rgba(204, 204, 204, 0.7);
    -webkit-box-shadow: 1px 1px 0px rgba(204, 204, 204, 0.7);
    box-shadow: 1px 1px 0px rgba(204, 204, 204, 0.7);
}
.page a.pg-next {
    width:60px;
    border-radius:0 20px 20px 0;
}
.page a.pg-next:hover {
    cursor:pointer;
}
.page span.pg-prev {
    color:#bbb;
    font-weight:normal;
    background:#fff;
    width:60px;
    border-radius: 20px 0 0 20px;
}
.page span.pg-next {
    width:60px;
    border-radius:0 20px 20px 0;
    background:#fff;
    color:#bbb;
    font-weight:normal;
}
.page a.pg-prev {
    background:#FFFFFF;
    width:60px;
    border-radius: 20px 0 0 20px;
}
.page span {
    background: #ff3366;
    border: medium none;
    color: #fff;
    font-weight: bold;
}
.page a:hover {
    text-decoration:none;
    color:#fff;
    background:#ff3366;
}
.page i {
    color: #919191
}
.pagination {
    text-align: center;
}
.page > li {
    float: left;
}
.main .search {
    color: #333;
    font-size: 12px;
}
.main .tipsing {
    font-size: 14px;
    margin: 0 0 20px 7px;
}
.org {
    color: #ff5500;
}

.list_con{ width:790px; float:right;}
.list790{ margin-bottom:10px;border:1px solid #eee;}
.list790 h3{padding:0 0 0 15px;border-bottom: 2px solid #0e9ee8; margin: 0px; font-size:14px; height:38px; line-height:38px; color:#444; background:#fff;}
.list790 h3 span.more{ float:right; line-height:38px; padding-right:12px; font-size:12px; font-weight:normal;}
.list790 h3 span.more a{ color:#777;}
.list790 .tag_top{ clear:both; display:block;overflow:hidden; padding-left:10px; height:32px;background:#f1f1f1;overflow: hidden}
.list790 .tag_top span{ display:inline-block; height:33px; line-height:32px; margin:0 0 0 5px; color:#7d8a92; font-size:12px;}
.list790 .tag_top span.on{ position:relative; bottom:-1px;background:#fff;}
.list790 .tag_top span a{ display:block; padding:0 10px; color:#666;}
.list790 .tag_top span.on a{ color:#666;}
.list790 .tag_con{}
.list790 .tu_wen{padding:10px 19px 0 19px; border-top:none; overflow:hidden;}
.list790 .tu_wen ul{ width: 100%; padding: 0;}
.list790 .tu_wen li{ position:relative;padding:0 0 10px 0; margin:5px 0; border-bottom:1px dotted #dedede;vertical-align:middle;overflow: hidden;}
.list790 .tu_wen li i{ display:inline-block; position:relative\9; top:-5px\9; width:32px; height:15px; margin-left:3px; text-indent:-9999px; background:url(../../../images/front/home20/ico_small.png) no-repeat; overflow:hidden;}
.list790 .tu_wen li i.i1{ background-position:0 0;}
.list790 .tu_wen li i.i2{ background-position:-32px 0;}

.list790 .tu_wen li img{ width:75px; float:left; height:50px; padding-right:10px;}
.list790 .tu_wen #div_avatar img,.list790 .tu_wen #avatar img{ width: auto; height: auto;}
.list790 .tu_wen li .type{ width:610px; float:left; font-size:14px; line-height:28px; color:#4f629f; vertical-align:middle;}
.list790 .tu_wen li .type strong{ height:28px; font-size:14px; overflow:hidden;}
.list790 .tu_wen li .type a{ color:#319de1;}
.list790 .tu_wen li .type a:hover{ color:#F60;}
.list790 .tu_wen li .type a em{font-size: 12px;}
.list790 .tu_wen li .type p{ display:block; width:100%; height:28px; font-size:12px; color:#666; overflow:hidden;}
.list790 .tu_wen li .type p span{margin-right: 14px;color:#666}
.list790 .tu_wen li .price{ width:120px; float:left; text-align:right; color:#999;}
.list790 .tu_wen li .price em{ font:20px/30px Arial; padding-right:3px; color:#F60;}
.list790 .tu_wen li .price em b{ font-size:18px; font-family:"å¾®è½¯é›…é»‘"; font-weight:normal;}

.list790 .tu{ display:block; width:742px; padding:14px 23px 4px 23px; border-top:none; overflow:hidden;}
.list790 .tu ul{ width:780px;}
.list790 .tu li{ position:relative; width:170px; float:left; margin:0 20px 15px 0; color:#666;}
.list790 .tu li i{ position:absolute; left:0; top:0; width:48px; height:48px; text-indent:-9999px; background:url(../../../images/front/home20/ico_small.png);}
.list790 .tu li i.i1{ background-position:0 -19px;}
.list790 .tu li i.i2{ background-position:-49px -19px;}
.list790 .tu li s{ position:absolute; right:4px; bottom:8px; width:33px; height:13px; text-indent:-9999px; background:url(../../../images/front/home20/ico_small.png);}
.list790 .tu li s.s0,.list790 .tu li s.s7{ background:none;}
.list790 .tu li s.s1{ background-position:0 -68px;}
.list790 .tu li s.s2{ background-position:0 -81px;}
.list790 .tu li s.s3{ background-position:0 -94px;}
.list790 .tu li s.s4{ background-position:0 -107px;}
.list790 .tu li s.s5{ background-position:0 -120px;}
.list790 .tu li s.s6{ background-position:0 -133px;}

.list790 .tu li img{ height:114px;}
.list790 .tu li p{ display:block; width:100%; height:32px; line-height:16px; overflow:hidden;}
.list790 .tu li p strong{ padding-right:5px;}
.list790 .tu li span{ display:block; height:36px; line-height:18px; padding-top:5px; overflow:hidden;}
.list790 .tu li em{ float:left; color:#f73;}
.list790 .tu li em b{ font-size:20px; font-family:Arial;}
.list790 .tu li a{font-size: 14px; color:#319de1;}
.list790 .tu li a:hover{ color:#f60;}
.list790 .tu li a em{float:none; color: #319de1; font-size:12px;}
.list790 .tu li a em:hover{color: #f60;}

.list790 .wenzi{ display:block; width:788px; border-top:none; overflow:hidden;}
.list790 .wenzi dl{ display:block; width:788px; padding:10px 0; border-bottom:1px dotted #ccc; overflow:hidden;}
.list790 .wenzi dt{ position:relative; width:188px; float:right; font-size:12px; font-weight:bold; color:#f73;}
.list790 .wenzi dt em{ font:20px/24px Arial;}
.list790 .wenzi dt s{ position:absolute; left:80px; top:4px; width:28px; height:15px; text-indent:-9999px; background:url(../../../images/front/home20/ico_small.png);}
.list790 .wenzi dt s.s1{ background-position:0 -67px;}
.list790 .wenzi dt s.s2{ background-position:0 -82px;}
.list790 .wenzi dt s.s3{ width:39px; background-position:0 -97px;}
.list790 .wenzi dt s.s4{ background-position:0 -112px;}
.list790 .wenzi dt s.s5{ background-position:0 -127px;}
.list790 .wenzi dt s.s6{ background-position:0 -142px;}
.list790 .wenzi dd{ position:relative; width:576px; float:left; padding-left:24px; line-height:26px; font-size:14px; color:#459800; vertical-align:middle;}
.list790 .wenzi dd a{ float:left; font-size:14px; color:#319de1;}
.list790 .wenzi dd a:hover{ color:#f60;}
.list790 .wenzi dd a em{font-size: 12px;}
.list790 .wenzi dd i{ position:relative; bottom:-3px; width:32px; float:left; height:15px; margin-left:3px; text-indent:-9999px; background:url(../../../images/front/home20/ico_small.png) no-repeat; overflow:hidden;}
.list790 .wenzi dd i.i1{ background-position:0 0;}
.list790 .wenzi dd i.i2{ background-position:-32px 0;}
.list790 .wenzi dd p{ color:#999; font-size:12px;}
.list790 .not_found{ padding:12px; font-size:14px; color:#777;}

.list790 .tu_wen li.rooms{ width:100%; padding:20px; border-bottom:1px solid #D9E9CE;}
.rooms .room-top{padding-bottom:15px;}
.rooms .room-top .pic img{ width:165px; height:110px; float:left; padding-right:5px;}
.rooms .room-top .basic{ width:330px; float:left; padding:0 5px;}
.rooms .room-top .basic strong{ display:block; width:310px; line-height:21px; font-size:14px; overflow:hidden;}
.rooms .room-top .basic strong strong{display:inline;}
.rooms .room-top .basic strong a{ color:#333;}
.rooms .room-top .basic strong i{ display:inline-block; *position:relative; *top:-5px; width:32px; height:15px; margin-left:3px; text-indent:-9999px; background:url(../../../images/front/home20/ico_small.png) no-repeat; overflow:hidden;}
.rooms .room-top .basic strong i.i1{ background-position:0 0;}
.rooms .room-top .basic strong i.i2{ background-position:-32px 0;}

.rooms .room-top .basic p{ color:#666;font-size: 12px;}
.rooms .room-top .basic p a{ color:#f60; line-height:24px;}
.rooms .room-top .basic span{ width:280px; height:28px;}
.rooms .room-top .basic span i{ display:inline-block; width:28px; height:28px; background-position:0 -85px;}
.rooms .room-top .basic span i.i1{ background-position:0 -85px;}
.rooms .room-top .basic span i.i2{ background-position:-29px -85px;}
.rooms .room-top .basic span i.i3{ background-position:-58px -85px;}
.rooms .room-top .basic span i.i4{ background-position:-87px -85px;}
.rooms .room-top .basic span i.i5{ background-position:-116px -85px;}
.rooms .room-top .basic span i.i6{ background-position:-145px -85px;}
.rooms .room-top .basic span i.i7{ background-position:-174px -85px;}

.rooms .room-top .review{ width:128px; float:left; padding:28px 10px 10px; height:100px; border-left:1px solid #e1e1e1; border-right:1px solid #e1e1e1; color:#7d8a92;}
.rooms .room-top .review strong{ color:#F60; font:18px/24px Arial; padding-right:3px; font-weight:bold;}
.rooms .room-top .review b{ color:#459800;}

.rooms .room-top .price{ width:200px; float:right;}
.rooms .room-top .price em{ display:block; padding-top:30px; color:#f73;}
.rooms .room-top .price strong{ font:24px/30px Arial;}
.rooms .room-top .price span{ position:relative; float:left; padding:0 5px 0 30px; height:22px; line-height:22px; color:#f60; border:1px solid #ffa208;}
.rooms .room-top .price span i{ position:absolute; top:0; left:-1px; width:25px; height:22px; background-position:0 -114px;}

.list790 .tu_wen .rooms ul{clear:both;padding-top:15px;}
.list790 .tu_wen .rooms li{ padding:5px 0;height:30px; color:#888;border:1px solid #cce1f1;border-top:0;vertical-align:middle;}
.list790 .tu_wen .rooms li.type{color:#999;background:#f6fbff;border:1px solid #cce1f1;width: 100%; line-height: 30px;height: 30px;margin: 0;padding: 0}
.rooms li.type span{ line-height:30px; height:30px;}
.rooms li span{ width:150px; float:left; line-height:24px; height:24px; font-family:Verdana; text-align:center; overflow:hidden;}
.rooms li span.w1{ width:190px; padding-left:15px; text-align:left;}
.rooms li span b{ font-weight:bold;}
.rooms li span.btn{ width:80px; text-indent:-9999px;float:right;}
.rooms li span.btn a{ display:block; width:65px; float:left; height:25px; background-position:-26px -114px;}

.rooms li.more_attr{ display:block; text-align:right; border:none;}
.rooms li span.xx{ color:#f73; font-weight:bold;}
.rooms li span.xx:first-letter { font-size:13px; font-weight:normal;}
.rooms li span.more span{ text-decoration:underline;}
.rooms li span.f13:first-letter { font-size:13px; font-weight:normal;}

.rooms li span.ms{ color:#888;}
.rooms li span.ms:first-letter { font-size:13px;}


/* page 鍒嗛〉*/
.page{height:30px; text-align:center; margin:6px 0; line-height:30px;color:#a79999; padding:5px;margin-bottom: 10px;float:right}
.page span,.page a {padding: 0 6px;color: #9d9d9d;margin-left: 3px;border: 1px solid #CCC;cursor: pointer;height: 20px;line-height: 20px;}
.page span.current,.page a:hover {background-color: #74c152;color: #fff;border: 1px solid #74c152;font-weight: bold;}
