<extend name="Public/base"/>
<block name="head">
    <link href="__NEW_CSS__/goods.css" rel="stylesheet" />
</block>
<block name="body">
     <div class="row">
        <div class="col-md-12">
            <div class="diy_bj">
                <div class="diy_step">
                    <div class="diy_lc">
                        <div class="top">
                            <img src="http://xnxwcdn.cncn.net/images/front/diy_step_men.png" class="notLoadImg">
                            <div class="tit">旅游定制</div>
                            <p>旅游定制 <i>●</i> 让出游更简单</p>
                        </div>

                        <ul>
                            <li class="on"><i class="i1"></i>1.提交旅行需求</li>
                            <li class="dian">●<br>●<br>●<br>●</li>
                            <li><i class="i2"></i>2.填写联系方式</li>
                            <li class="dian">●<br>●<br>●<br>●</li>
                            <li><i class="i3"></i>3.为您量身定制方案</li>
                        </ul>
                    </div>

                    <div class="diy_rc">

                        <iframe name="add_iframe" style="display: none;"></iframe>
                        <form action="/diy/add" method="post" id="diy_form" target="add_iframe">
                            <div class="j_diy_step" style="display: block; margin-top: 0px; opacity: 1;">
                                <ul class="diy_list">
                                    <li>
                                    <label>想去哪儿</label>
                                    <div class="bor">
                                        <input name="to_city" class="txt j_yz_bt j_yz_size" data-max_size="20" data-ts="请输入您想去的城市、景点" placeholder="填写您想去的城市、景点" error="true">
                                    </div><span class="diy_error">请输入您想去的城市、景点</span>
                                    </li>
                                    <li>
                                    <label>从哪里出发</label>
                                    <div class="bor">
                                        <input name="from_city" class="txt j_yz_bt j_yz_size" data-max_size="20" data-ts="请输入您的出发城市" placeholder="填写您的出发城市" error="true">
                                    </div><span class="diy_error">请输入您的出发城市</span>
                                    </li>
                                    <li>
                                    <label>什么时候去</label>
                                    <div class="bor">
                                        <label class="input_select" style="display: none;">
                                            <select class="sel" name="start_year"><option value="2015">2015年</option><option value="2016">2016年</option></select>
                                        </label><span class="dropdown J_dropdown" id="dropdown7403"><span class="select J_select" data-id="7403" style="width:97px">2015年<a href="javascript:;"><i class="icon_menu"></i></a></span></span>
                                        <label class="input_select" style="display: none;">
                                            <select class="sel" name="start_month"><option value="10">10月</option><option value="11">11月</option><option value="12">12月</option></select>
                                        </label><span class="dropdown J_dropdown" id="dropdown7919"><span class="select J_select" data-id="7919" style="width:97px">10月<a href="javascript:;"><i class="icon_menu"></i></a></span></span>
                                        <label class="input_select" style="display: none;">
                                            <select class="sel bor_not" name="start_day"><option value="34">下旬</option><option value="35">不确定</option><option value="23">23号</option><option value="24">24号</option><option value="25">25号</option><option value="26">26号</option><option value="27">27号</option><option value="28">28号</option><option value="29">29号</option><option value="30">30号</option><option value="31">31号</option></select>
                                        </label><span class="dropdown J_dropdown" id="dropdown4431"><span class="select J_select" data-id="4431" style="width:97px">下旬<a href="javascript:;"><i class="icon_menu"></i></a></span></span>
                                    </div>
                                    </li>
                                    <li>
                                    <label>计划玩几天</label>
                                    <div class="bor j_sub_add">
                                        <div class="sub">-</div>
                                        <input name="day_num" class="day_num" data-unit="天" value="1天" readonly="readonly">
                                        <div class="add">+</div>
                                    </div>
                                    <span class="rcon rts"><input type="checkbox" name="day_num_change" value="1">可根据行程安排适当增减</span>
                                    </li>
                                    <li>
                                    <label>几人出游</label>
                                    <div class="bor lban j_sub_add">
                                        <div class="sub">-</div>
                                        <input name="adult_num" class="day_num" data-unit="位成人" value="2位成人" readonly="readonly">
                                        <div class="add">+</div>
                                    </div>
                                    <div class="bor rban j_sub_add">
                                        <div class="sub" data-min_size="0">-</div>
                                        <input name="child_num" class="day_num" data-unit="位儿童" value="0位儿童" readonly="readonly">
                                        <div class="add">+</div>
                                    </div>
                                    </li>
                                    <li>
                                    <label>人均预算</label>
                                    <div class="bor">
                                        <input name="budget" class="txt txMin j_yz_num j_yz_size" data-max_size="6" data-ts="请输入正确的人均预算" placeholder="不确定可不填写" error="false">
                                        <span class="rcon">元/每人</span>
                                    </div>
                                    </li>
                                    <li class="max">
                                    <label>其他要求</label>
                                    <div class="bor j_textarea">
                                        <p style="display: block;">您可以补充您的旅游需求，如：行程安排不要太紧迫。</p>
                                        <textarea name="remark" class="j_yz_size" data-max_size="500" error="false"></textarea>
                                    </div>
                                    </li>
                                    <li class="an"><a class="btn_blue j_step_down">下一步</a></li>
                                </ul>
                            </div>

                            <div class="j_diy_step">
                                <ul class="diy_list diy_list_min">
                                    <li>
                                    <label>联系人姓名</label>
                                    <div class="bor">
                                        <input name="realname" class="txt j_yz_bt" data-ts="请填写联系人姓名" placeholder="填写真实姓名，方便我们称呼您" value="">
                                    </div>
                                    </li>
                                    <li>
                                    <label>手机号</label>
                                    <div class="bor">
                                        <input type="hidden" class="J_mobile" value="">
                                        <input name="mobile" class="txt j_yz_mobile" maxlength="11" data-ts="请填写联系人的手机号码" value="">
                                    </div>
                                    </li>
                                    <li class="yzm">
                                    <label>手机验证码</label>
                                    <div class="bor">
                                        <input name="checkcode" data-ts="验证码错误" class="txt j_yz_yzm">
                                    </div>
                                    <div class="btn_yzm j_yzm" onclick="dx_yzm(60,'发送验证码')">发送验证码</div>
                                    </li>
                                    <li class="an"><a class="btn_bor j_step_up">上一步</a><a class="btn_blue J_submit">提交需求</a></li>
                                </ul>
                                <img class="botImg notLoadImg" src="http://xnxwcdn.cncn.net/images/front/diy_list_min_bj.png">
                            </div>
                        </form>

                        <div class="j_diy_step">
                            <div class="diy_success">
                                <div class="diy_suc"><span>您的需求已经提交成功</span></div>
                                <p class="diy_suc_p">我们将尽快与您联系，并为您设计方案。方案设计好后将以短信通知您，请您注意查收。</p>
                                <div class="diy_suc_an">接下来您可以：<a href="/" class="btn_bor">随便看看</a> <a href="/member/diy" class="btn_blue">查看我的定制需求</a></div>
                            </div>
                                            <ul class="qq_list">
                                                    <li>
                                <a href="http://wpa.qq.com/msgrd?v=1&amp;uin=2851609283&amp;site=qq&amp;menu=yes" target="_blank" rel="nofollow"><img src="http://wpa.qq.com/pa?p=1:2851609283:4" border="0" align="bottom" class="pic notLoadImg" original="http://wpa.qq.com/pa?p=1:2851609283:4" style="display: inline;">文钊</a> <span>0592-2263392</span>
                                </li>
                                                    <li>
                                <a href="http://wpa.qq.com/msgrd?v=1&amp;uin=2851609285&amp;site=qq&amp;menu=yes" target="_blank" rel="nofollow"><img src="http://wpa.qq.com/pa?p=1:2851609285:4" border="0" align="bottom" class="pic notLoadImg" original="http://wpa.qq.com/pa?p=1:2851609285:4" style="display: inline;">肇诚</a> <span>0592-2263383</span>
                                </li>
                                                </ul>
                                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
     
</block>