<extend name="Public/base"/>
<block name="head">
	 <link rel="stylesheet" type="text/css" href="__NEW_CSS__/login.css">
     <link rel="stylesheet" type="text/css" href="__NEW_CSS__/list.css">
</block>
<block name="body">
<div class="container user-center">
    <div class="row">
        <div class="col-md-2">
            <include file="Public:usernav"/>
        </div>
        <div class="col-md-10">
            <div class="list790">
                <h3>修改密码</h3>
                <div class="tag_con" id="js_tag_con">                                                                        
                    <div class="tu_wen">
                        <ul>
                        <form class="form-horizontal J_ajaxForm" action="{:U('User/resetpassword')}" method="post">
                            {:setParam(array('op'=>'do'))}
                            <li>
                                <label class="control-label" for="">旧密码</label>
                                <div class="controls">
                                    <input type="password" class="form-control" name='oldPassWord' value="">
                                </div>
                            </li>
                            
                            <li>
                                <label class="control-label" for="">新密码</label>
                                <div class="controls">
                                    <input type="password" class="form-control" name='newPassWord' value="">
                                </div>
                            </li>
                            
                            <li>
                                <label class="control-label" for="">确认密码</label>
                                <div class="controls">
                                    <input type="password" class="form-control" name='newPassWord2' value="">
                                </div>
                            </li>                                                        
                             
                            <li>
                                <div class="controls">
                                    <button type="submit" class="btn">保存</button>
                                </div>
                            </li>
                        </form>
                    </div>
                </div>							
            </div>
        </div>
    </div>
</div>
</block>
